/* PHASE 3: Layout */

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background: #fff;
  width: 900px;
  border: 1px solid #ccc;
  border-top: 0;
}

.content-sidebar {
  min-height: 250px;
  width: 250px;
}

.content-main {
  min-height: 200px;
  width: 648px;
  border-left: 1px solid #ccc;
}
